[submodule "libs/DallasTemperature"]
	path = libs/DallasTemperature
	url = git@github.com:milesburton/Arduino-Temperature-Control-Library.git
[submodule "libs/EEPROMex"]
	path = libs/EEPROMex
	url = git@github.com:thijse/Arduino-EEPROMEx.git
[submodule "libs/OneWire"]
	path = libs/OneWire
	url = git@github.com:PaulStoffregen/OneWire.git
[submodule "libs/LiquidCrystal"]
	path = libs/LiquidCrystal
	url = git@github.com:swapii/ArduinoLib_NewLiquidCrystal.git
[submodule "libs/AnalogButtons"]
	path = libs/AnalogButtons
	url = git@github.com:rlogiacco/AnalogButtons.git
